{% extends "::base.html.twig" %}

{% block title %}{{ cmfMainContent.title|striptags }}{% endblock %}

{% block content %}
<div class="breadcrumb">
    <ul>
        {% for title, url in knp_menu_get('simple').currentItem.breadcrumbsArray %}
            <li><a href="{{url}}">{{ title }}</a></li>
            <span class="divider">/</span>
        {% endfor %}
        <form class="form-inline" action="{{path('ipanema_cms_add', {path:cmfMainContent.id})}}" method="POST">
            <input id="singleling-name" name="name">
            <input type="submit" class="btn">Add monolingual page</submit>
        </form>
        <form class="form-inline" action="{{path('ipanema_cms_add_multilingual', {path:cmfMainContent.id})}}" method="POST">
            <input id="multiling-name" name="name">
            <input type="submit" class="btn">Add multilingual page</submit>
        </form>
    </ul>
</div>

    <a class="btn btn-danger" href="{{path('ipanema_cms_remove', {path:cmfMainContent.id})}}">Remove</a>
    {% createphp cmfMainContent as="rdf" %}
    {{ rdf|raw }}
    {% endcreatephp %}
    <div class="row">
        {{ sonata_block_render({
            'name': 'additionalInfoBlock'
        }) }}
    </div>

{% endblock %}

